body {
  background-color: black;
  color: white;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: auto;
  align-items: center;
  align-content: center;
  
  text-align: center;
}

.pixel {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
}

.pixels {
  background-color: white;
  border-collapse: collapse;
}
